/* import fonts */

/*reset margin, padding and box-sizing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* özel değerler */
html {
  font-size: 62.5%;

  --animation-name: bounce;
  --animation-duration: 1s;
  --animation-delay: 0s;
  --animation-timing-function: ease-in-out;
  --animation-iteration-count: infinite;
  --animation-play-state: paused;
  --animation-direction: alternate;
  --animation-fill-mode: none;
  --color-black: #191c1e;
  --color-yellow: hsl(39, 98%, 68%);
  --color-white: hsl(39, 98%, 95%);
}

body {
  font-size: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-black);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box {
  position: relative;
  width: 7rem;
  height: 7rem;
  background-color: var(--color-white);
  animation: var(--animation-name) var(--animation-duration)
    var(--animation-timing-function) var(--animation-iteration-count)
    var(--animation-direction) var(--animation-play-state)
    var(--animation-delay) var(--animation-fill-mode);
  -webkit-animation: var(--animation-name) var(--animation-duration)
    var(--animation-timing-function) var(--animation-iteration-count)
    var(--animation-direction) var(--animation-play-state)
    var(--animation-delay) var(--animation-fill-mode);
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-yellow);
  transition: height 300ms ease-in-out;
}

#expand-btn,
.play-btn {
  position: absolute;
  width: 6rem;
  height: 4rem;
  left: 50%;
  top: -4rem;
  background-color: var(--color-yellow);
  background-image: url("/img/up-arrow.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}

#expand-btn.expanded {
  background-image: url("/img/down-arrow.png");
}

.play-btn {
  right: 50%;
  left: auto;
  background-image: url("/img/play.png");
}

.play-btn.play {
  background-image: url("/img/stop.png");
}

#expand-btn:hover,
.play-btn:hover {
  background-color: var(--color-white);
}

.settings.expanded {
  height: 40rem;
}

label[for="menu"] {
  margin-top: 2rem;
}

#menu {
  text-align: center;
  display: inline-block;
  padding: 1rem 0 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.settings__list {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
}

.settings__list-item {
  margin: 2rem auto;
  max-width: 30rem;
}

.input,
.select-element {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

@keyframes bounce {
  0% {
    bottom: 0;
  }

  25% {
    bottom: 5rem;
  }

  50% {
    bottom: 0;
  }

  75% {
    bottom: 3rem;
  }
  100% {
    bottom: 0;
  }
}

@keyframes colorChange {
  0% {
    background-color: var(--color-yellow);
  }

  25% {
    background-color: var(--color-white);
  }

  50% {
    background-color: rgb(11, 172, 17);
  }

  75% {
    background-color: rgb(11, 172, 164);
  }
  100% {
    background-color: rgb(78, 11, 172);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
